.button {
    @apply font-bold;
    @apply bg-green;
    @apply text-white;
    @apply rounded;
    @apply uppercase;
    @apply px-8;
    @apply shadow-md;
    @apply flex items-center;
    min-height: 2.5rem;
    transition: background-color 0.3s ease;

    &:hover {
        @apply bg-green-dark;
    }

    &:active {
        transform: translateY(1px);
    }

    &:focus {
        outline: none;
        @apply border border-green-lighter;
    }
}
