.link {
    @apply text-blue;
    cursor: pointer;
    transition: color 0.1s ease, text-decoration-color 0.1s ease;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-decoration-color: color-mod(config('colors.blue') a(0.5));

    &:focus {
        outline: 0;
    }

    &:hover {
        text-decoration-color: currentColor;
    }

    &:active {
        top: 1px;
    }
}

.link.text-grey {
    text-decoration-color: color-mod(config('colors.grey') a(0.5));
}

.link.text-grey-lightest {
    text-decoration-color: color-mod(config('colors.grey-lightest') a(0.5));
}
