.menu-title {
    @apply font-condensed;
    @apply font-bold;
    @apply text-sm;
    @apply text-grey;
    @apply mt-0 mb-2;
    text-transform: uppercase;
}

.menu {
    & li {
        @apply my-2;
        @apply text-grey-lighter;

        &:before {
            @apply bg-red;
            position: absolute;
            content: '';
            height: 100%;
            width: 4px;
            left: -2rem;
            opacity: 0;
        }

        &.active:before {
            opacity: 1;
        }

        &.active a,
        & a:hover {
            @apply text-white;
        }
    }
}
