@responsive {
    .grid {
        display: grid;
    }

    .place-content-center {
        align-content: center;
        justify-content: center;
    }

    .place-items-center {
        align-items: center;
        justify-items: center;
    }

    .justify-self-start {
        justify-self: start;
    }

    .justify-self-center {
        justify-self: center;
    }

    .justify-self-end {
        justify-self: end;
    }

    .startx-2 {
        grid-column-start: 2;
    }
}
